$white-color = #ffffff
$black-color = #000000
$primary-color = #4e608a
$primary-color-light-1 = #7085a5
$primary-color-light-2 = #e9ebf1
$primary-color-light-3 = #eceff3
$primary-color-light-4 = #d8dbe2
$default-color = #767776
$default-color-middle = #919191
$default-color-middle-1 = #a8a8a8
$default-color-bold = #494949
$default-color-bold-1 = #363636
$default-color-bold-opacity = rgba(71, 71, 71, 0.85)
$default-color-light-1 = #d8d8d8
$default-color-light-2 = #f0f0f0
$warning-color = #ec9e4f
$warning-color-light-1 = #ffeba3
$warning-color-light-2 = #fffae8
$success-color = #88a763
$success-bright = #88b550
$danger-color = #e65a2f
$info-color = #4ba7e6

$box-shadow-middle = 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)

$root-font-size = 16px

$mobile = 500px
$tablet = 768px
$laptop = 1024px
$laptop-l = 1440px
$king-size-4k = 2560px

$input-small = 40px
$input-middle = 50px
$input-large = 65px
